<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="short">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/media/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/images/favicon-16x16.png">
    <link rel="manifest" href="/media/images/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/media/css/styles.css" />
    {% if title %}
    <title>TDD with Django - {{title}}</title>
    {% else %}
    <title>TDD with Django</title>
    {% endif %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-color">
{#    <a class="navbar-brand text-custom" href="{% url 'tasks:tasks_list' %}">Tasks</a>#}
{#    <span class="text-primary" style="margin-left: 1px;margin-right: 5px">|</span>#}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link {% if nlink == 'list' %}active{% endif %}" href="{% url 'tasks:tasks_list' %}">All Tasks</a>
            <a class="nav-item nav-link text-custom {% if nlink == 'new' or nlink == 'update' %}active{% endif %}" href="{% url 'tasks:tasks_new' %}">Create New Task</a>
        </div>
    </div>
</nav>
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="{% url 'tasks:tasks_list' %}">
                <h3>Tasks</h3>
            </a>

        </div>

        <ul class="list-unstyled components">
        {% if object_list %}
            {% for task in object_list %}
                <li>
                    <a href="#{{ task.task_title|slugify }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ task.task_title }}</a>
                    <ul class="collapse list-unstyled" id="{{ task.task_title|slugify }}">
                    <li>
                        <a href="{% url 'tasks:tasks_view' task.id %}">{{ task.task_description }}</a>
                    </li>
                    </ul>
                </li>
            {% endfor %}
        {% else %}
            <p style="text-align: center">All tasks Done :)</p>

        {% endif %}
        </ul>
    <a href="{% url 'tasks:tasks_new' %}">
    <div style="text-align: center">
        <span class="material-icons" style="font-size: 40px; color: rgba(255, 193, 7, 0.61) !important;" >add_task</span>
    </div>
    </a>

    </nav>


<div class="container-fluid" style="padding-top: 6px">
    {% block content %}{% endblock %}
</div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
</body>
</html>
